In [1]:
import wbdata
import pandas
import matplotlib.pyplot as plt

In [2]:
#set up the countries I want
countries = ["CL","UY","HU"]
 
#set up the indicator I want (just build up the dict if you want more than one)
indicators = {'NY.GNP.PCAP.CD':'GNI per Capita'}
 
#grab indicators above for countires above and load into data frame
df = wbdata.get_dataframe(indicators, country=countries, convert_date=False)

In [3]:
df

              GNI per Capita
country date
Chile   2015             NaN
        2014         14910.0
        2013         15270.0
        2012         14350.0
        2011         12350.0
        2010         10800.0
        2009         10030.0
        2008         10140.0
        2007          8740.0
        2006          7360.0
        2005          6340.0
        2004          5310.0
        2003          4650.0
        2002          4630.0
        2001          4850.0
        2000          5020.0
        1999          5000.0
        1998          5350.0
        1997          5480.0
        1996          5020.0
        1995          4400.0
        1994          3670.0
        1993          3380.0
        1992          3050.0
        1991          2510.0
        1990          2260.0
        1989          2100.0
        1988          1830.0
        1987          1560.0
        1986          1410.0
...                      ...
Uruguay 1989          2730.0
        1988          2600.0
        1987          2210.0
        1986          1780.0
        1985          1510.0
        1984          1740.0
        1983          2190.0
        1982          3290.0
        1981          3650.0
        1980          2870.0
        1979          2150.0
        1978          1630.0
        1977          1420.0
        1976          1490.0
        1975          1620.0
        1974          1370.0
        1973          1060.0
        1972           870.0
        1971           850.0
        1970           820.0
        1969           670.0
        1968           610.0
        1967           640.0
        1966           720.0
        1965           680.0
        1964           660.0
        1963           610.0
        1962           580.0
        1961             NaN
        1960             NaN

[168 rows x 1 columns]

In [ ]:
#df is "pivoted", pandas' unstack fucntion helps reshape it into something plottable
dfu = df.unstack(level=0)

# a simple matplotlib plot with legend, labels and a title
dfu.plot(); 
plt.legend(loc='best'); 
plt.title("GNI Per Capita ($USD, Atlas Method)"); 
plt.xlabel('Date'); plt.ylabel('GNI Per Capita ($USD, Atlas Method')
plt.show()